<div class="dashboard-section">
    <div class="side-bar-component">
        <app-side-panel></app-side-panel>
    </div>
    <div class="dashboard-container">
        <div>
            <h1 class="page-heading">Dashboard</h1>
        </div>
        <div class="chart-container">

            <md-card id="option-section">
                <md-card-content>
                    <md-select placeholder="Period" [(ngModel)]="range" (change)="fetchData();visible=false;">
                        <md-option *ngFor="let range of rangeList" [value]="range.value">
                            {{ range.label }}
                        </md-option>
                    </md-select>
                    <md-select placeholder="Status" [(ngModel)]="state" (change)="fetchData();visible=false;">
                        <md-option *ngFor="let states of stateList" [value]="states.value">
                            {{ states.label }}
                        </md-option>
                    </md-select>
                </md-card-content>
            </md-card>

            <div class="loading-container" *ngIf="!visible">
                <div class="loader"></div>
            </div>


            <md-card id="temperature-chart" *ngIf="visible">
                <md-card-header>
                    Temperature Performance
                </md-card-header>
                <md-card-content>
                    <div class="chart-section">
                        <ngx-charts-area-chart [view]="view" [scheme]="colorSchemeTemperatureChart" [results]="temperatureChartData" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [autoScale]="autoScale" (select)="onSelect($event)">
                        </ngx-charts-area-chart>
                    </div>
                </md-card-content>
            </md-card>

            <md-card id="system-chart" *ngIf="visible">
                <md-card-header>
                    System Performance
                </md-card-header>
                <md-card-content>
                    <div class="chart-section">
                        <ngx-charts-pie-chart [view]="viewPie" [scheme]="colorSchemeSystemChart" [results]="thresholdChartData" [legend]="showLegend" [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut" [gradient]="gradient" (select)="onSelect($event)">
                        </ngx-charts-pie-chart>
                    </div>
                </md-card-content>
            </md-card>

            <md-card id="oil-temp-chart" *ngIf="visible">
                <md-card-header>
                    Oil Temperature Performance
                </md-card-header>
                <md-card-content>
                    <div class="chart-section">
                        <ngx-charts-area-chart [view]="view" [scheme]="colorSchemeOilTemperatureChart" [results]="oiltemperatureChartData" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [autoScale]="autoScale" (select)="onSelect($event)">
                        </ngx-charts-area-chart>
                    </div>
                </md-card-content>
            </md-card>

            <md-card id="vibration-chart" *ngIf="visible">
                <md-card-header>
                    Vibration
                </md-card-header>
                <md-card-content>
                    <div class="chart-section">
                        <ngx-charts-bar-vertical [view]="view" [scheme]="colorSchemeVibrationChart" [results]="vibrationChartData" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
                        </ngx-charts-bar-vertical>
                    </div>
                </md-card-content>
            </md-card>

            <md-card id="oil-mois-chart" *ngIf="visible">
                <md-card-header>
                    Oil Moisture Performance
                </md-card-header>
                <md-card-content>
                    <div class="chart-section">
                        <ngx-charts-area-chart [view]="view" [scheme]="colorSchemeMoistureChart" [results]="moistureChartData" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [autoScale]="autoScale" (select)="onSelect($event)">
                        </ngx-charts-area-chart>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>