<div class="dashboard-section">
    <div class="side-bar-component">
        <app-side-panel></app-side-panel>
    </div>
    <div class="dashboard-container">
        <div>
            <h1 class="page-heading">Dashboard</h1>
        </div>
        <div class="chart-container" *ngIf="visible">
            <md-card id="option-section">
                <md-card-content>
                    <md-select placeholder="Period">
                        <md-option *ngFor="let period of intervals" [value]="period">
                            {{ period }}
                        </md-option>
                    </md-select>
                    <md-select placeholder="Status">
                        <md-option *ngFor="let status of statusList" [value]="status">
                            {{ status }}
                        </md-option>
                    </md-select>
                </md-card-content>
            </md-card>

            <md-card id="temperature-chart">
                <md-card-header>
                    Teperature Performance
                </md-card-header>
                <md-card-content>
                    <div class="chart-section">
                        <ngx-charts-area-chart [view]="view" [scheme]="colorScheme" [results]="multi" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                            [yAxisLabel]="yAxisLabel" [autoScale]="autoScale" (select)="onSelect($event)">
                        </ngx-charts-area-chart>
                    </div>
                </md-card-content>
            </md-card>

            <md-card id="system-chart">
                <md-card-header>
                    System Performance
                </md-card-header>
                <md-card-content>
                    <div class="chart-section">
                        <ngx-charts-pie-chart [view]="viewPie" [scheme]="colorScheme" [results]="singleData" [legend]="showLegend" [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut" [gradient]="gradient" (select)="onSelect($event)">
                        </ngx-charts-pie-chart>
                    </div>
                </md-card-content>
            </md-card>

            <md-card id="oil-temp-chart">
                <md-card-header>
                    Oil Teperature Performance
                </md-card-header>
                <md-card-content>
                    <div class="chart-section">
                        <ngx-charts-area-chart [view]="view" [scheme]="colorScheme" [results]="multiple" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                            [yAxisLabel]="yAxisLabel" [autoScale]="autoScale" (select)="onSelect($event)">
                        </ngx-charts-area-chart>
                    </div>
                </md-card-content>
            </md-card>

            <!-- <md-card id="vibration-chart">
                <md-card-header>
                    Vibration
                </md-card-header>
                <md-card-content>
                    <div class="chart-section">
                        <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                            [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
                        </ngx-charts-bar-vertical>
                    </div>
                </md-card-content>
            </md-card> -->

            <md-card id="oil-mois-chart">
                <md-card-header>
                    Oil Moisture Performance
                </md-card-header>
                <md-card-content>
                    <div class="chart-section">
                        <ngx-charts-area-chart [view]="view" [scheme]="colorScheme" [results]="multidata" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                            [yAxisLabel]="yAxisLabel" [autoScale]="autoScale" (select)="onSelect($event)">
                        </ngx-charts-area-chart>
                    </div>
                </md-card-content>
            </md-card>


        </div>
    </div>
</div>